body {
    max-width: 700px;
    margin: 0 auto;
}
h1 {
    color: blueviolet;
}

h2 {
    color: blueviolet;
    font-style: oblique;
    font-size: 25px;
}
p {
    color: blueviolet;
   font-size: 16px;
}
ul {
    color: blueviolet;
    font-size: 16px;
}
marquee {
    color: blueviolet;
    font-size: 16px;
}